extends layout

block content
  #container
    h1
      center Meal Planning?
    #cooktimes
      br
      a(href='../../index.html')
        #time
          h3 Breakfast
          p When you're in the mood for something a little more than cereal and milk.
          p
      a(href='../../index.html')
        #time
          h3 Lunch
          p Ideas for quick lunches you can make ahead and can heat up at the office.
      a(href='../../index.html')
        #time
          h3 Dinner
          p
            | Options ranging from quick weeknight dinners to more involved Saturday night masterpieces.
      a(href='../../index.html')
        #time
          h3 Salads
          p You won't find any sad iceberg lettuce "salads" here.
      a(href='../../index.html')
        #time
          h3 Breads
          p Salads that have way more than iceberg lettuce.
      a(href='../../index.html')
        #time
          h3 Snacks
          p
      a(href='../../index.html')
        #time
          h3 Desserts
          p Cookies, me want cookies.
