extends layout

block content
  #container
    h1
      center How much time do you have?
    #cooktimes
      br
      a(href='../../index.html')
        #time
          h3 10 Minutes
          p "Crap, I forgot to pack a lunch."
          p
      a(href='../../index.html')
        #time
          h3 20 Minutes
          p "Long day and the couch is calling my name.. but first, food!"
      a(href='../../index.html')
        #time
          h3 30 Minutes
          p "I could saute a few things but don't make me pull out every kitchen appliance."
      a(href='../../index.html')
        #time
          h3 1 Hour
          p "Okay, okay I'll finally use my food processor."
      a(href='../../index.html')
        #time
          h3 Forever
          p "I'm ready to pour a glass a wine and cook the afternoon away."
