extends layout

block content

  //- Hero spot
  .portfolioheader
      .portfolioheader_title
        a(href='recipes/dinner/butternutsquash.html')

  .toprecipes
    h1 Top Recipes
    .leftimg
      img(src='images/pomegrantesalad.png')
      a(href='#') Tomato Pomegrante Salad 
      p 25 Min
      i.material-icons(style='font-size:20px;') alarm
    .leftimg
      img(src='images/spanikopita.png')
      a(href='recipes/dinner/spanikopita.html') Spanikopita
      p 45 Min
      i.material-icons(style='font-size:20px;') alarm
    .leftimg
      img(src='images/risotto.png')
      a(href='recipes/dinner/butternutsquash.html') Butternut Squash Risotto
      p 2 Hours
      i.material-icons(style='font-size:20px;') alarm
  
      //- <h1>Party Foods</h1>
      //- <div class="leftimg">
      //- <img src="images/ravioli.png" />
      //- <a href="#">Ravioli</a>
      //- <p>2 Hours</p><i class="material-icons" style="font-size:20px;">alarm</i>
      //- </div>
      //- <div class="leftimg">
      //- <img src="images/stuffedmushrooms.png" />
      //- <a href="#">Stuffed Mushrooms</a>
      //- <p>35 Minutes</p>
      //- <i class="material-icons" style="font-size:20px;">alarm</i>
      //- </div>
    h1 Brunch
    .leftimg
      img(src='images/crepes.jpg')
      a(href='#') Ricotta Crepes
      p 15 Minutes
      i.material-icons(style='font-size:20px;') alarm
      //- <div class="leftimg">
      //- <img src="images/eggs.png" />
      //- <a href="#">Scrambled Eggs</a>
      //- <p>20 Minutes</p>
      //- <i class="material-icons" style="font-size:20px;">alarm</i>
      //- </div>
    .leftimg
      img(src='images/frenchtoast.png')
      a(href='recipes/brunch/frenchtoast.html') Cinnamon French Toast 
      p 1 hour
      i.material-icons(style='font-size:20px;') alarm
    .leftimg
      img(src='images/pancakes.png')
      a(href='#') Pancakes
      p 20 Minutes
      i.material-icons(style='font-size:20px;') alarm
    .leftimg
      img(src='images/sweetpotatofritata.jpg')
      a(href='#') Sweet Potato Fritata
      p 20 Minutes
      i.material-icons(style='font-size:20px;') alarm
    h1 Quick Dinner Ideas
    .leftimg
      img(src='images/blackbeanburger.jpg')
      a(href='recipes/veggie_burger/blackbeanburger.html') Black Bean Burger
      p 15 Minutes
      i.material-icons(style='font-size:20px;') alarm
    .leftimg
      img(src='images/couscous.jpg')
      a(href='#') Couscous
      p 20 Minutes
      i.material-icons(style='font-size:20px;') alarm
    h1 Cookies, Cakes and More
    .leftimg
      img(src='images/bananaicecream.png')
      a(href='#') "Banana "Ice Cream"
      p 20 Minutes
      i.material-icons(style='font-size:20px;') alarm
    .leftimg
      img(src='images/pumpkinbread.png')
      a(href='recipes/bread/pumpkinbread.html') Pumpkin Bread
      p 45 Minutes
      i.material-icons(style='font-size:20px;') alarm
    .leftimg
      img(src='images/ricottacheesecake.png')
      a(href='#') Ricotta Cheesecake
      p 20 Minutes
      i.material-icons(style='font-size:20px;') alarm
    .leftimg
      img(src='images/almondtarts.png')
      a(href='#') Almond Tarts
      p 20 Minutes
      i.material-icons(style='font-size:20px;') alarm
    .leftimg
      img(src='images/brookies.jpg')
      a(href='#') "Brookies"
      p 20 Minutes
      i.material-icons(style='font-size:20px;') alarm
    .leftimg
      img(src='images/monkeybread.png')
      a(href='#') "Monkey Bread"
      p 20 Minutes
      i.material-icons(style='font-size:20px;') alarm
  .container
    .left
      img(src='images/cooking.png')
    .right
      h1 About Homemade
      h2
        | I love cooking, eating, sharing recipes and dreaming up what to make next. I'm also trying to learn how to code.
      p
        | This seemed like the best way to accomplish both. I'm a UX designer during the day and at night I've been working my way through HTML, CSS, Javascript and remembering how to illustrate. If you see missing buttons, stretched images or broken links, just know it's a work in progress!